<oj-form-layout>
    <oj-input-text label-hint="Title" value="[[newBook.title]]"></oj-input-text>
    <oj-input-text label-hint="Author" value="[[newBook.author]]"></oj-input-text>
    <oj-input-text label-hint="Category" value="[[newBook.category]]"></oj-input-text>
    <oj-button on-oj-action="[[addBook]]">Add Book</oj-button>
  </oj-form-layout>
  
  <div class="oj-flex oj-sm-flex-wrap">
    <div class="oj-flex-item oj-sm-12 oj-md-4" data-bind="foreach: books">
      <div class="book-card">
        <h3 data-bind="text: title"></h3>
        <p data-bind="text: author"></p>
        <p data-bind="text: category"></p>
        <oj-button on-oj-action="function() { $parent.deleteBook($data) }">Delete</oj-button>
      </div>
    </div>
  </div>