<oj-form-layout 
  id="formLayoutOpt" 
  max-columns="4" 
  direction="column"
  class="oj-formlayout-full-width"
  user-assistance-density="compact">
    
    <oj-input-text :id="[[inputFirstNameId]]" value="{{ inputFirstNameValue }}" on-value-changed="[[onInputFirstNameValueChange]]" label-hint="[[inputFirstNameLabel]]"></oj-input-text>

    <oj-input-text :id="[[inputLastNameId]]" value="{{ inputLastNameValue }}" disabled="[[isInputLastNameDisabled]]" label-hint="[[inputLastNameLabel]]"></oj-input-text>

    <oj-input-number :id="[[inputWeightId]]" value="" label-hint="[[inputWeightLabel]]"></oj-input-number>

    <oj-input-number :id="[[inputAgeId]]" value="{{ inputAgeValue }}" label-hint="[[inputAgeLabel]]"></oj-input-number>

    <oj-input-text :id="[[inputFullNameId]]" value="{{ inputFullNameValue }}" disabled label-hint="[[inputFullNameLabel]]"></oj-input-text>

</oj-form-layout>

<span>
  <oj-bind-text value="[[inputFirstNameValue]]"></oj-bind-text>
</span>